@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply antialiased;
  }
  
  body {
    @apply bg-gray-50 text-gray-900 min-h-screen overflow-x-hidden;
  }

  #root {
    @apply overflow-x-hidden;
  }
}

@layer components {
  .aspect-w-1 {
    position: relative;
    padding-bottom: 100%;
  }
  
  .aspect-w-1 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}